<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Municipalities App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render partial: 'layouts/partials/header' %>

    <%= render_flash_messages %>

    <main class="d-flex flex-grow-1 align-items-center justify-content-center">
      <div class="content-container">
        <%= yield %>
      </div>
    </main>

    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
